* {
    margin: 0px;
    padding: 0px;
}

.ad-top {
    background: #000000;
    height: 32px;
}

.divisor-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background: #ffffff;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 241px;
    height: 77.45px;
}

.img-logo>img {
    width: 209px;
    height: 45.45px;
}