ul#nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 720px;
    background: #159cb0 url("../images/fundo-horizontal.png") repeat-x;
    float: left;
}

ul#nav li {
    float: left;
}

ul#nav a {
    display: block;
    padding: 0 2em;
    line-height: 2.5em;
    text-decoration: none;
    color: #FFF;
    background: url("../images/divisor.png") repeat-y left top;
}

ul#nav li:first-child a {
    background: none;
}

ul#nav li>a:hover {
    color: #085662;
    background: #44cade;
}

ul#nav #selecionado>a {
    background: #44cade;
    color: #085662;
}